<form (ngSubmit)="addNewUser()">
  <fieldset>
  <legend>Create user</legend>
  <div class="form-block">
    <label>Name:<input type="text" name="userName" [(ngModel)]="name"/></label>
  </div>
  <div class="form-block">
    <label>Email:<input type="email" name="userEmail" [(ngModel)]="email"/></label>
  </div>
  <div class="form-block">
    <label>Is active:<input type="checkbox" class="custom-checkbox" name="userActivity" [(ngModel)]="activity"/></label>
  </div>
  <div class="form-block">
    <label>Role:
      <select name="type" [(ngModel)]="type">
        <option>User</option>
        <option>Admin</option>
        <option>Redactor</option>
      </select>
    </label>
  </div>
  <button type="submit">Add user</button>
  </fieldset>
</form>
