form {
  margin-top: 40px;
}

fieldset {
  border: 3px solid #64766A;
  border-radius: 5px;
  font-size: 17px;
}

legend {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}

input {
  width: 180px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F4F2F3;
  border-radius: 8px;
  display: block;
}

button {
  margin-left: 50px;
  font-weight: bold;
  color: #F4F2F3;
  background: #94A7AE;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  border-radius: 8px;
  margin-top: 5px;
}

.form-block{
  margin: 20px 0;
}
