<div class="container">
  <div class="addNewUser">
    <app-new-user></app-new-user>
    <app-new-group></app-new-group>
  </div>
  <div class="usersBlock">
    <h3>Users:</h3>
    <app-users></app-users>
  </div>
  <div class="groupsBlock">
    <h3>Groups:</h3>
    <app-groups></app-groups>
  </div>
</div>
